.container {
  /* background-color: red; */
  margin: 0 80px;
  height: 100%;
}

.main-screen {
  background: url(./images/main-section_background.png);
  height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  min-height: 500px;
}

.main-screen-text-container {
  position: absolute;
  width: 560px;
  bottom: 60px;
  left: 10%
}

.main-screen-category {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-screen-title {
  font-family: PT Serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin: 10px 0;
}

.main-screen-description {
  width: 333px;
  display: flex;
  justify-content: space-between;
}

.blog {
  display: flex;
  margin: 60px 10% 0;
  justify-content: space-between;
  /* gap: 50px; */
}

.posts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-grow: 1;
}

.sidebar {
  display: flex;
  width: 270px;
  flex-grow: 2;
}

.sidebar-section {
  width: 100%;
}

.sidebar-section-title {
  border: 1px solid #E5E5E5;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  color: #666666;
  height: 35px;
  border-bottom: 1px solid #E5E5E5;
}