.container {
  /* background-color: red; */
  margin: 0 80px;
  height: 100%;
}

.main-screen {
  background: url(./images/main-section_background.png);
  height: calc(100vh - 100px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
  min-height: 500px;
}

.main-screen-text-container {
  position: absolute;
  width: 560px;
  bottom: 60px;
  left: 10%
}

.main-screen-category {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-screen-title {
  font-family: PT Serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: left;
  margin: 10px 0;
}

.main-screen-description {
  width: 333px;
  display: flex;
  justify-content: space-between;
}

.blog {
  display: flex;
  margin-top: 60px;
  justify-content: space-evenly;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.posts {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1500px;
}

.sidebar {
  display: flex;
  min-width: 270px;
  margin-left: 30px;
  flex-direction: column;
}

.sidebar-section + .sidebar-section {
  margin-top: 40px;
  margin-bottom: 20px;
  width: 100%;
}

.sidebar-section-title {
  border: 1px solid #E5E5E5;
  height: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  color: #666666;
  height: 35px;
  border-bottom: 1px solid #E5E5E5;
}

.tag {
  display: inline-block;
  margin: 5px 2px;
  padding: 10px;
  background-color: #F8F9FA;
  color: #666666;
}

@media (max-width: 1400px) {
  .sidebar {
    display: none;
  }

  .posts {
    width: 100%;
  }
}

@media (max-width: 660px) {
  .main-screen-text-container {
    width: 400px;
  }
  .main-screen-title {
    font-size: 30px;
  }
}

@media (max-width: 460px) {
  .main-screen-text-container {
    width: 285px;
  }
  
  .main-screen-title {
    font-size: 20px;
  }

  .main-screen-description {
    font-size: 13px;
    width: 270px;
  }
}

.footer {
  margin-top: 100px;
}

.footer-container {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav.nav-footer li a {
  color: #666666;
}

.nav.nav-footer {
  margin-top: 60px;
}

.copyright {
  font-size: 14px;
  margin: 40px 0;
  color: #666666;
}


